.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.welcome-title {
    font-size: 3rem; /* Tamaño de fuente más grande */
    color: white; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    margin: 2rem 0; /* Espacio superior e inferior */
    background-color: #87ceeb; /* Fondo azul cielo */
    padding: 1rem; /* Padding alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    font-family: "Arial", sans-serif; /* Fuente personalizada */
    text-align: center; /* Centrar el texto */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
